html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
header,
footer {
  width: 100%;
  background-color: #222f3e;
}

#logo {
  background-color: #222f3e;
  width: 10%;
  padding-left: 30px;
}
#logo img {
  background-size: contain;
  width: 100%;
  height: 100%;
  margin: 3% auto;
}
#testo,
#testofooter {
  background-color: #364759;
}
#testo p {
  padding-left: 0.8%;
  padding-top: 0.6%;
  padding-bottom: 0.6%;
  font-size: 0.9em;
}
.hlink {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  padding-left: 15px;
}
main {
  text-align: center;
  background-color: #eaeded;
}
article {
  width: 98.4%;
  margin: 2% 0.8%;
}
h2 {
  background-color: #f56600;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.9em;
  font-weight: normal;
}
.banner-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 30px;
}
.banner-container img {
  width: 100%;
  height: auto;
  display: block;
}
.banner-text {
  position: absolute;
  top: 25%;
  left: 50%;
  color: white;
  text-align: center;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.banner-text2 {
  position: absolute;
  top: 55%;
  left: 50%;
  color: white;
  text-align: center;
  font-weight: bold;
  transform: translate(-50%, -50%);
  font-size: 0.9em;
}

h4 {
  text-align: left;
  font-size: medium;
  padding-left: 1.6em;
  margin-bottom: 1.5em;
  font-weight: normal;
}
h4 a {
  font-size: small;
  color: #007195;
  text-decoration: none;
  padding-left: 2em;
  font-weight: bold;
}

#contenitorefloat {
  margin: auto;
  display: inline-block;
}

.container {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  padding: 5px 20px 20px 20px;
}

.imgf {
  width: 20%;
  height: 20em;
  margin: auto 2%;
  float: left;
}
.imgf img {
  background-size: contain;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  box-shadow: 10px 10px 5px rgba(37, 34, 34, 0.425);
}
.imgfinale {
  margin: 3em auto;
  background-color: #eaeded;
}

.imgfinale img {
  background-size: contain;
  width: 100%;
  height: 100%;
}
figcaption p {
  font-size: medium;
}
figcaption p a {
  font-size: small;
  font-weight: bolder;
  color: #007195;
  text-decoration: none;
  padding-left: 10px;
}
footer {
  text-align: center;
}
#testofooter {
  padding: 5px;
  font-size: 1.2em;
}

footer a {
  color: white;
  font-size: 0.8em;
}
#logofooter {
  width: 10%;
  margin: auto;
  padding-bottom: 4em;
  padding-top: 4em;
}
#logofooter img {
  background-size: contain;
  width: 100%;
  height: 100%;
}
